/* Give your page a fun background color */
html{
  background-color: #F2D7B4;
}

body{
  margin: 0px;
  padding: 0px;
}
/* Make the header and footer a different color from the background */
.header{
  display: flex;
  justify-content: center;
  background-color: #58949C;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Align the h1 containing your name in the center of the header*/
.name{
  margin: 12px;
  font-family: copperplate; Helvetica;
  font-size: 54px;
  display: flex;
  color: #D6D6D6;
}
/* Make your p tag a different color and italic */
p{
  font-size: 20px;
  font-family: copperplate; Helvetica;
  font-style: italic;
  color: #D6D6D6;
  margin-left: 30px;
}
/* Put a border around your image */
.images{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imgBrady{
  border: 5px solid #58949C;
  border-radius: 200px;
  height: 400px;
  width: 400px;
}
/* Change the font-family of your list */
.list{
  font-family: Helvetica;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.aboutMe{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer{
  background-color: #58949C;
  padding-top: 20px;
  padding-bottom: 20px;
}
